.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: black;
  max-height: 1000px;
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

body {
  background: linear-gradient(180deg, rgb(83, 13, 4) 0%, rgb(0, 0, 0) 35%);
  overflow-x: hidden;
}

#navText {
  color: white !important;
  font-size: smaller;
}

#tertiaryMenu {
  overflow-y: scroll;
  max-height: 400px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.footer-container {
  color: lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mediaPlayerFooter {
  margin-top: 1rem;
  background-color: #181818;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #181818;
  height: 5rem;
  z-index: 1000 !important;
}

.mediaPlayerFooter .leftFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mediaPlayerFooter .rightFooter {
  display: flex;
  flex-direction: row;
  float: right;
}

.mediaPlayerFooter .middleFooter .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mediaPlayerFooter img {
  height: 4rem;
  width: 4rem;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 0.5rem;
}

.mediaPlayerFooter .card {
  background-color: #181818;
}

.currentPlayed {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.ArtistAndSong {
  display: block;
}

#footerButton {
  margin-left: 0.3rem;
  background-color: transparent;
  border: 0;
}

progress::-webkit-progress-value {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background: rgb(255, 255, 255);
  border-radius: 100px;
}

progress::-webkit-progress-bar {
  background: rgb(131, 129, 129);
  border-radius: 100px;
}

progress {
  margin-top: 10px;
  display: inline-block;
  width: 30%;
  max-height: 5px;
  left: 490px;
  top: 60px;
  background: rgb(255, 255, 255);
  border-radius: 50px;
}

.rightFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.showsToTry {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#aviciiSize {
  margin-bottom: 1rem;
}

#smallCard {
  height: 65px;
  background-color: rgba(51, 51, 51, 0.5) !important;
}

#cardImg {
  width: 65px !important;
  height: 65px !important;
}

#smallFontSize {
  position: absolute;
  bottom: 70px;
  left: 65px;
  font-size: smaller;
}

#largeCard {
  background-color: rgba(51, 51, 51, 0.5) !important;
  border: 0;
  color: white;
  height: 280px;
}

#largeFontSize1 {
  font-size: small;
}

#largeFontSize2 {
  font-size: smaller;
}